.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.wrapperContainerFormSetColaborator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.containerFormSetColaborator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #f6f6f6;
  padding: 1.5em 2em;
  border-radius: 10px;
  width: 100%;
  max-width: min(98em, 80%);
  margin: 2em 0;
}

.containerFormSetColaborator > h3 {
  font-size: 1.4em;
  font-weight: 400;
  display: flex;
  justify-self: flex-start;
  width: 100%;
}

.containerFormSetColaborator label {
  font-size: clamp(0.8em, 2svw, 1.1em);
  font-weight: 400;
}

.containerFormSetColaborator input,
.dropDownTeam select {
  padding: 1.5em 1em;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  box-sizing: border-box;
}
